ion-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 24px 16px;
  position: relative;
}
ion-card-content .quote-text {
  font-size: 20px;
  color: #2563eb;
  margin-bottom: 24px;
}

ion-card ion-button {
  position: absolute;
  top: 0px;
  right: 0px;
  --background: rgba(255, 0, 0, 0.25);
}