<ion-content [fullscreen]="true">
  <div id="container">
    <app-quote 
      *ngIf="randomQuote"
      [text]="randomQuote.text"
      [author]="randomQuote.author" 
      [canDelete]="showDelete"
      (onDelete)="handleDelete()"> 
    </app-quote>

    <p *ngIf="!randomQuote" class="ion-text-center">No hay citas en la base de datos.</p>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/gestion">
      +
    </ion-fab-button>
  </ion-fab>
</ion-content>