.quote-text {
  color: var(--ion-color-dark, black);
  font-size: 16px;
  margin-bottom: 4px;
}

.quote-author {
  font-style: italic;
  color: var(--ion-color-step-600, gray);
  margin: 0;
}

ion-button {
  --padding-start: 8px;
  --padding-end: 8px;
  font-size: 20px;
}
